.post {
    text-align: left;
    background-color: white;
    border: 1px #d9d9d9 solid;
    width:300px;
    margin-bottom: 20px;
    padding: 0;
}

.post img {
    text-align: left;
}

.post-titlebox {
    padding: 10px;
}

.post-editbox {
    font-family: inherit;
    font-size: inherit;
    padding:10px;
    width:calc(100% - 30px);
}

.post-buttonbox {
    padding: 10px;
}

.button {
    display: inline-block;
    font-family:inherit;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}